* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    height: 100%;
}

.fas {
    color: #1D7686;
}

.fa-star {
    color: #1D7686;
}

.skill-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5em;
}

.skill-card {
    display:inline-block;
    
    height: 165px;
    width: 360px;
    
}

.skill-card p:hover{
    background-color:lightgray;
    transform: scale(1.02);
    
    
}
.skill-card p{
    padding: 0.1em;
    transition: 0.3s;
}

.contact-section .card{
    color: white;
}

.contact-section .card a{
    color: white;

}

.profile-container{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container .card{
    width: auto;
}


.landing-section {
    background-image: url(resources/white-2566231.jpg);
    height: 80%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center -200px;
}

.header {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 2em;
    width: 100%
}

.about {
    height: auto;
}

.projects {
    background-color: white;
    height: auto;
}

.projects a {
    text-decoration: none;
    color: #242424;
}

h4 {
    color: #1D7686;
    font-size: 20px;
}

.image-break2 {
    background-image: url(resources/clement-helardot-95YRwf6CNw8-unsplash.jpg);
    height: 60%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.work {
    background-color: #faf8ea;
    height: auto;
}

.cont-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.work-card-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.work-card {
    background-color: white;
    display: flex;
    width: 70vw;
    margin: 2em;
    box-shadow: 0px 5px 15px #777777;
}

.work-title {
    width: 100%;
    margin: 1em;
}

.work-desc {
    margin: 1em;
}

footer{
    background-color: #faf8ea;
    display: flex;
    justify-content: center;
    
}

footer .card{
    margin: 0;
    width: 100vw;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
}


h1 {
    font-size: 30px;
    font-weight: 200;
    color: #1D7686;
    background-color: inherit;
    padding-left: 5vw;
    padding-right: 5vw;
}

.dash {
    background-color: #1D7686;
    width: 20%;
    height: 1px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 6vh;
    margin-top: 0.5em;
    margin-right: 1.5em;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
}

.title {
    padding-left: 0.5em;
}

h2 {
    font-size: 55px;
    font-weight: 100;
    letter-spacing: 5px;
    padding: 0.5em;
}

h3 {
    color: #1D7686;
    font-size: 25px;
    font-weight:200;
    padding: 0.2em;
    padding-left: 1.2em;
}

.work-desc h3{
    font-weight: bold;
}

.card-container {
    display: flex;
    justify-content: center;
    
    margin: 2em 2em 5em 2em;
}

.profile-picture {
    background-image: url(resources/Profile.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid #faf8ea;
    margin: 2em;
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.score{
    display: block;
    float: right;
}

.card {
    width: 50vw;
    height: auto;
    padding: 2em;
    color: #4B4B4B;
    font-size: 15px;
    margin: 2em;
    box-shadow: 0px 5px 15px #777777;
    text-align: justify;
}

#project {
    width: 35vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: 0.3s;
}

#project p{
    text-align: justify;
}

#project .external{
    
    text-align: left;
}

#project:hover{
    transform: scale(1.02);

}


.project-images {
    width: 80%;
    margin: 1.5em 0 1.5em 0;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    font-weight: 200;
    list-style: none;
    transition: 0.3s;
}

.nav-links li:hover{
    transform: scale(1.07);
}
.work-desc a{
    text-decoration: none;
    color: #1D7686;
}

.work-desc a:hover{
    text-decoration: underline;
}

.other-links {
    text-decoration: none;
    letter-spacing: 3px;
    color: #242424;
}

.contact {
    text-decoration: none;
    background-color: #1D7686;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 25px;
}



.burger {
    display: none;
}

.burger div {
    margin: 5px;
    width: 25px;
    height: 2px;
    background-color: #242424;
    transition: all 0.3s ease;
}

.contact-section {
    background-color: rgb(117, 116, 112);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section h1 {
    color: white;
}

.contact-section .dash {
    background-color: white;
}

.link-container {
    justify-self: center;
    display: flex;
    justify-content: space-around;
    width: 50vw;
    height: 170px;
}

.contact-links {
    text-decoration: none;
    color: white;
    font-size: 6em;
    transition: 0.3s;
}

.contact-links:hover{
    transform: scale(1.07);
    
}

@media screen and (max-width: 400px){
    
    .contact-links{
        font-size: 4em;
    
    }
    .link-container{
        width: 100vw;
        justify-content: space-around;
    }
   
    .projects .card{
        width: 90vw;
    }
    

    .landing-section{
        background-attachment:scroll;
        background-position: center center;
        height: 100vh;
    }

    .work-card{
        flex-direction: column;
        width: 90vw;
    }

    .skill-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skill-card{
        
        height: auto;
        
    }

    

    .image-break2{
        background-attachment: scroll;
    }

    body {
        overflow-x: hidden;
    }

    .card{
        width: 90vw;
    }

    .other-links {
        color: white;
    }
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 0px;
        flex-direction: column;
        align-items: center;
        width: 65%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: #1D7686;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }

    .profile-picture{
       
    width: 250px;
    height: 250px;
    border-radius: 125px;
    }

    .profile-container .card{
    width: 50vw;
}
}

@media screen and (max-width: 768px) {
    #project {
        width: 70vw;
    }
    body {
        overflow-x: hidden;
    }
    .other-links {
        color: white;
    }
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 0px;
        flex-direction: column;
        align-items: center;
        width: 65%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: #1D7686;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }

    .profile-picture{
       
    width: 250px;
    height: 250px;
    border-radius: 125px;
    }

    .profile-container .card{
    width: 50vw;
}
}

@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    .other-links {
        color: white;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 0px;
        flex-direction: column;
        align-items: center;
        width: 65%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: #1D7686;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .skill-card {
        width: 315px;
    }

    .skill-card p:hover{
        font-size: 15px;
    }
    
    

    h3 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    background-color: white;
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    background-color: white;
    transform: rotate(45deg) translate(-5px, -5px);
}